* {
    margin: 0;
    padding: 0;
}
body {
    font-family: 'Times New Roman', Times, serif;
}
.main-content {
    background-image: url('../img/atardecer3-original.jpg');
    background-size: cover;
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
.login-content {
    background-color: rgba(255,255,255,0.8);
    width: 350px;
    display: flex;
    justify-content: center;
    position: relative;
    border-radius: 30px;
}
.input-name {
    background-image: url('../img/usuario-origina.png');
    background-size: cover;
    width: 100px;
    height: 100px;
    opacity: 0.5;
    position: absolute;
    top: -60px;
}
.input-pass {
    width: 100px;
    height: 100px;
    opacity: 0.5;
    position: absolute;
    top: -60px;
}