* {
    margin: 0%;
    padding: 0%;
}
body {
  /*   text-align: center; */
    padding-bottom: 20;
}
h1 {
    text-align: right;
}
li {
    list-style: none;
    padding: 20px;
    font-size: 1.4em;
    border-top: 1px solid black;
    flex-direction: block;
}
ul {
    height: 100vh;
    list-style: none;
    text-align: center;
    display: block;
}
a {
    text-decoration: none;
    color: white;
}
nav {
    position: fixed;
    height: 100vh;
    top: 70px;
    background-color: blue;
    width: 290px;
    overflow-x: auto;
    left: -100%;
}
.menu-box {
    position: fixed;
    top: 0;
    width: 100px;
    padding-left: 20px;
    height: 60px;

}
#side-header {
    position: fixed;
    top :0;
    width: 220px;
    height: 100%;
}

.nav.mostrarNav {
    left: 0;
}
.hamburger-menu {
    position: fixed;
    top: 20px;
    left: 20px;
}
.conteint-page {
    display: grid;
    width: 100%;
    grid-template: "nav-page","content-page" auto /
                   300px        auto;
                   justify-content: start;
}
.nav-page {
    grid-area: nav-page;
}
.conteint-page {
    grid-area: content-page;

}
li:hover {
    background-color: rgb(96,96,96,.8);
    color: white;
    cursor: pointer;
}
.conteint-main {
    margin: 3em;
}
nav.mostrarNav {
    left: 0;
}

@media only screen and (max-width:600px) {
    .bt.menu {
        width: 120px;
        overflow-x: hidden;
    }
    h1 {
        margin-top: 60px;
    }
    .menu-box-invisible {
        margin-top: 60px;
    }
    nav {
        width: 100%;
        position: fixed;
        right: 100%;
        font-size: 1.4em;
        overflow-x: hidden;
    }
    ul {
        width: 98%;
        overflow-x: hidden;
    }
}



