.ejemplo-margen {
   margin: 1em 8em;
   text-align: justify;
   font-size: 1,5em;
}
.ejemplo-bordes {
   border: 3px 4px solid;
   border-color: aquamarine;
   text-align: justify;
   font-size: 1,5em;
   
}