* {
    margin: 0;
    padding: 0;
}
nav {
    background: rgb(23,90,167);
    width: 100%;
}
ul {
    list-style: none;
    text-align: right;
}
li {
    display: inline-block;
    position: relative;
}
nav ul li:hover {
    background: silver;
}
nav ul li a {
    color: white;
    font-size: 1.3em;
    text-decoration: none;
    padding: 20px;
    display: block;
}
.subitem {
    position: absolute;
    display: none;
    background:rgb(23,90,190);
    text-align: left;
}
nav ul li .subitem li {
    display:block;
    border-bottom: 1px solid rgb(255, 255, 255,.5);
}
nav ul li .subitem li a {
    display: block;
}
nav ul li:hover .subitem {
    display: block;
    width: 100%;
    text-align: left;
}
