.post-static-1 {
    width: 250px;
    height: 250px;
    margin-top: 5px;
    background-color: rgb(89, 138, 121);
    color: white;
}
h1 {
    text-align: center;
}
.post-relative-1  {
    width: 250px;
    height: 250px;
    margin-top: 5px;
    background-color: rgb(107, 59, 129);
    color: white;
    position: relative;
    left: 500px;
}
.post-absolute-1, .post-absolute-2, .post-absolute-3 {
    width: 250px;
    height: 250px;
    background-color: rgb(11, 23, 190);
    color: white;
}
.post-absolute-1  {
    left: 9%;
    position: absolute;
}
.post-absolute-2  {
    left: 40%;
    position: absolute;
}
.post-absolute-3  {
    left: 70%;
    position: absolute;
}


