h1  {
    text-align: center;
}
table {
    border-collapse: collapse;
    font-size: 1.6em;
    margin: 0 auto;
}
td, th { 
    background-color: rgb(190, 190, 190);
    text-align: center;
    padding: 0.8em 0.5em;
    border: 1px solid white ;
    border-radius: 10px;
}
.vacio {
    background-color: white;
}
.color-arandano {
    border-radius: 10px;
    background-color: rgb(78, 134, 247);
}
.color-platano {
    border-radius: 10px;
    background-color: rgb(255, 255, 53);
}
.color-cereza {
    border-radius: 10px;
    background-color: rgb(221, 49, 59);
}
.color-fresa {
    border-radius: 10px;
    background-color: rgb(245, 20, 65);
}
.color-encabezado-calorias {
    border-radius: 10px;
    background-color: rgb(254,117 , 22);
}
.color-encabezado-grasas {
    border-radius: 10px;
    background-color: rgb(222, 225, 30);
}
.color-encabezado-proteina {
    border-radius: 10px;
    background-color: rgb(250, 13, 7);
}
.color-encabezado-carbohidratos {
    border-radius: 10px;
    background-color: rgb(255, 221, 140);
}