
 .div-macerati {
    display: block;
 }
 .div-macerati-hidden {
    display: none;
 }
 .div-macerati2 {
    display: none;
 }
 .macerati2-cambio{
    display: block;

 }
 img{
    width: 900px;
    height: 500px;
 }